/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Poppins", serif;
  //font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}


*{
  box-sizing: border-box;
  font-family: "Poppins", serif;

}
